.navstyle{
direction: rtl;
background: linear-gradient(to bottom,#e051ec, transparent);
}
.responsive-navbar{
    display: flex;
    justify-content: center;
    text-align: right;
}
.nav-link:hover{
    border-top: solid 1px #80205f;
    border-bottom: solid 1px #80205f;
    transition: border 300ms linear;
}
.navbar-light .navbar-toggler {
    border: none;
}
.navbar-light .navbar-toggler:focus{
    outline: none;
}
.navbar-light .navbar-nav .nav-link {
    color:#80205f;
    margin-left: 3rem;
}